.color-merah {
    background-color: red !important;
  }
  
  .color-biru {
    background-color: blue !important;
  }
  
  .color-hitam {
    background-color: black !important;
  }
  
  .color-abu-abu {
    background-color: grey !important;
  }
  