.color-merah {
    background-color: red;
  }
  
  .color-biru {
    background-color: blue;
  }
  
  .color-abu-abu {
    background-color: grey;
  }
  
  .color-hitam {
    background-color: black;
  }
  
  .color-putih {
    background-color: white;
  }
  